{{# if products }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset col-md-offset">
        <ul class="list-group">
            {{# each products }}
                <li class="list-group-item">
                    <span class="badge">{{ this.qty }}</span>
                    <strong>{{ this.item.title }}</strong>
                    <span.label.label-seccess>${{ this.price }}</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#"Reduce by 1></a></li>
                            <li><a href="#"Remove All></a></li>
                        </ul>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset col-md-offset">
       <Strong>Total : {{ totalPrice }}</Strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset col-md-offset">
       <button type="button" class="btn btn-success">Checkout</button>
    </div>
</div>
    {{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-sm-offset col-md-offset">
            <h2>keranjang mu kosong</h2>
        </div>
    </div>
{{/if}}

